################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/parabola/.vs
/parabola/parabola-OpenGL/x64/Debug
/parabola/x64/Debug

/build
/out
/.vs